body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  font-size: 50px;
}

.orange {
  color: orange;
}

section {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 10%;
}

.half-width img {
  width: 120%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
}